QtPy==2.4.3
PyQt5~=5.15.10
PyYAML==6.0.1
pillow>=11.1.0
appdirs==1.4.4
-r ./gclib/requirements_full.txt
numpy==2.2.3
PyOpenGL>=3.1.0,<3.1.7
pyrr==0.10.3
pyinstaller~=6.12.0
pytest~=8.3.4
pytest-cov~=6.0.0
pytest-qt~=4.4.0
