QtPy==2.4.3
PyQt5~=5.15.10
PyYAML==6.0.1
pillow>=12.2.0
appdirs==1.4.4
-r ./gclib/requirements_full.txt
numpy==2.2.3
PyOpenGL>=3.1.0,<3.1.7
pyrr==0.10.3
pyinstaller~=6.20.0
pytest~=9.0.3
pytest-cov~=7.1.0
pytest-qt~=4.5.0
